<footer class="footer">
<small>
The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
by <a href="https://www.michaelhartl.com/">Michael Hartl</a>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "about", about_path %></li>
<li><%= link_to "contact",contact_path%></li>
<li><%= link_to "news", news_path%></li>
</small>
</nav>